<h1>About the app</h1>
<p class="bg-info text-danger">This is a demo app</p>

<div class="row">
  This app chats to ChatGPT. We send your prompt and message to ChatGPT using api keys.
  <br>In "Generate Paragraph" section, you can send a topic to ChatGPT to get a generated paragraph from ChatGPT. 
  For example, you can enter prompt such as "today's weather"
  <br>In "Talk to ChatGPT", you can customize your prompt, and ask whatever task you want to ChatGPT. Additionally,
  you can view chat history, and access them by your entered prompts. 

</div>