
<h1>Creative Application 02</h1>
<p class="text-danger">Welcome to the App</p>
<!-- Here we show how to encode a URI and get weather data -->
<% address = encodeURI("152 Aspinwall Ave, Brookline MA, 02446") %>
John Xie: <a href="/generate-paragraph"> generate paragraph from your given topic</a> <br>
<br>Clark Xu: <a href="/chat2"> Chat with ChatGPT. You can customize your prompt.</a>

  
    
  
