<br><h2>John Xie (hanyuxie@brandeis.edu)</h2><br>
<section></section>

<h2>Clark Xu (yilinxu@brandeis.edu)</h2><br>
<section>I have written /routes/chatGPT2 and ejs pages in /views/chat2. 
    <br> Get response function in /routes/chatGPT2 was build based on John's code.
    <br> Different from generate-paragraph, my route page allows user to customize
    <br> their prompt. User can also ask questions to ChatGPT by leaving prompt empty.
    <br> I also organized chat history into a separate page from chat page. Additionally,
    <br> I organized the unique prompts into a separated page, and user can access 
    <br> chat history by prompt.
    <br> Click <a href="/chat2">here</a> to chat with ChatGPT
</section>