<body>
<h1>Chat History Grouped by Prompt</h1>
<ul>
    <% uniquePrompts.forEach(group => { %>
    <li>
        <h2><a href='/history/chatByPrompt/<%= group %>'><%= group %></a></h2>
        
    </li>
    <% }); %>
</ul>
</body>